body {
  background: #EFF2F3;
}

.header {
  background-color: #209ECB;
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  width: 100%;
  -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
         transition: all 0.7s ease;
}

.body {
  display: none;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.search {
  padding-top: 25%;
  -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
         transition: all 0.7s ease;
  text-align: center;
}

li {
  background-color: white;
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0px 0px 30px #b2b2b2;
  padding: 20px;
  transition: all .5s ease-in-out;
}

li:hover {
  transform: scale(1.1);
}

a h2 {
  color: #209ECB
}

a p {
  color: grey
}

a:hover {
  text-decoration: none;
}

#random-article {
  color: white;
  line-height: 50px;
}
